.example-card {
  margin: 0 auto;
<<<<<<< HEAD
  width: 60%;  
=======
  width: 40%;  
>>>>>>> 52ae5b67a6a95fe6414fa83d96b4fbca6384de08
  text-align:center;
  box-shadow: 0 2px 1px -1px cornflowerblue,
                0 1px 1px 0 cornflowerblue, 
                0 1px 3px 0 cornflowerblue; 
}

.example-header-image {
  background-size: cover;
}
.mat-card-header {
  color: darksalmon;
}
img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}