/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html, body { height: fit-content; margin: 0.1em; font-family: Roboto, "Helvetica Neue", sans-serif;}

.container {
    margin: 0.1em;
  }

footer {
  display: block;  
  background-color: aquamarine
}